* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 1080px;
    width: 1920px;
    left: 2.2737367544323206e-13px;
    top: 1px;
    border-radius: 0px;
  }
  
  .navbar {
    height: 70px;
    width: 1920px;
    left: -2.2737367544323206e-13px;
    top: 0px;
    border-radius: 0px;
    background-color: #6fcf97;
    position: fixed;
  }
  
  .btn {
    transform: translateX(-100%);
  }
  
  .btn .active {
    transform: translateX(172px);
  }
  
  .title {
    position: absolute;
    top: 19px;
    left: 136px;
    color: #333333;
  }
  
  .container {
    display: flex;
  }
  
  .side-bar {
    height: 1010px;
    width: 330px;
    left: -2.2737367544323206e-13px;
    top: 70px;
    border-radius: 0px;
    background-color: #6fcf97;
  }
  
  .side-bar.active {
    transform: translateX(0px);
  }
  
  .home-page {
    display: flex;
  }
  
  .square {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 394px;
    top: 110px;
    background-color: #e0e0e0;
  }
  
  .square-1 {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 786px;
    top: 110px;
    background-color: #e0e0e0;
  }
  
  .square-2 {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 1178px;
    top: 110px;
    background-color: #e0e0e0;
  }
  
  .square-3 {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 1570px;
    top: 110px;
  
    background-color: #e0e0e0;
  }
  @media (max-width: 360px) {
    .container {
      position: relative;
      width: 360px;
      height: 640px;
    }
  
    .navbar {
      position: absolute;
      width: 360px;
      height: 40px;
      left: 0px;
      top: 0px;
      background-color: #6fcf97;
    }
  
    .side-bar {
      position: relative;
      width: 240px;
      height: 640px;
      background-color: #6fcf97;
      transform: translateX(-240px);
      transition: transform 0.5s ease-in-out;
    }
  
    .square {
      position: absolute;
      width: 150px;
      height: 150px;
      left: 20px;
      top: 65px;
    }
  
    .square-1 {
      position: absolute;
      width: 150px;
      height: 150px;
      left: 20px;
      top: 240px;
    }
  
    .square-2 {
      position: absolute;
      width: 150px;
      height: 150px;
      left: 190px;
      top: 65px;
    }
  
    .square-3 {
      position: absolute;
      width: 150px;
      height: 150px;
      left: 190px;
      top: 240px;
    }
  
    .btn {
      position: absolute;
      width: 24px;
      left: 20px;
      top: 10px;
      background-color: #6fcf97;
      border: none;
      transform: translateX(0%);
      color: rebeccapurple;
    }
  }